@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700');
body {
    font-family: 'fira mono', monospace;
    line-height: 1.57;
    margin-bottom: 0;
    position: relative;
    min-height: 99.5vh;
    padding-top: 80px;
}
div#content {
    padding-bottom: 100px;
}
.container{
    max-width:960px;
}
.myNav {
    box-shadow: 0 0 5px 0px #aaa;
    max-width: 100%;
    margin-right: 0;
    margin-left: 0;
    background: #f3f3f3;
}
.resume .h6, h6 {
    margin-top: .25rem;
    text-transform: uppercase;
}
#myTabContent{
    /*margin-top:90px;*/
}
.nav-link {
    padding: .75rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
.navbar-brand {
    padding-top: 0.65rem;
    padding-bottom: 0.5rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
.nav-item .active:after {
    #content: "\2193";
    #padding-left: .2rem;
}
.nav-item .active, .nav-item:hover {
    box-shadow: 0 3px 0px 0px #007bff;
}
.nav-item .active:hover{
    border:none;
}
img {
    max-width: 100%;
}
html {
    position: relative;
    min-height: 100%;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #eee;
    right: 0;
    bottom: 0;
    left: 0;
}
.h4, h4 {
    line-height: 1.225;
}
@media screen and (max-width: 768px) {
    body {
        padding-top:115px;
    }
    .desc {
        margin-top: 1rem;
    }
    #myTabContent{
        /*margin-top:12%;*/
    }

}
@media screen and (max-width: 480px) {
    body {
        padding-top:110px;
    }

    #myTabContent{
        /*margin-top:26.5%;*/
    }
    .navbar-brand {
        padding-top: 0.85rem;
        padding-bottom: 0.5rem;
        font-size: 1rem;
    }
    .nav-link {
        font-size: .9rem;
        padding: .5rem;
    }
    .myNav {
        margin-bottom: 2rem;
    }
    .desc h4 {
        line-height: 1.25;
    }
    .navCol {
        padding: 0;
    }
}
