<div class="content">
    <div class="item row">
        <a class="col-md-4 col-sm-4 col-xs-12" href="https://github.com/tnajdek/angular-requirejs-seed" target="_blank">
            <img class="img-responsive project-image" src="http://lorempixel.com/400/240/people/1" alt="project name">
        </a>
        <div class="desc col-md-8 col-sm-8 col-xs-12">
            <h4 class="title"><a href="https://github.com/tnajdek/angular-requirejs-seed" target="_blank">Angular-RequireJS seed project</a> <span class="badge badge-success">Success</span></h4>
            <p>Running AngularJS paired up with RequireJS involves configuring few tweaks and hacks, especially if trying to preserve testability of Angular app. This seed project has been created to setup the entire front-end stack correctly and help developers get started with their projects.</p>
            <p><a class="more-link" href="https://github.com/tnajdek/angular-requirejs-seed" target="_blank"><i class="fa fa-external-link"></i> Find out more</a></p>
        </div><!--//desc-->
    </div><!--//item-->
    <hr class="divider">
    <div class="item row">
        <a class="col-md-4 col-sm-4 col-xs-12" href="http://gl.gg/" target="_blank">
            <img class="img-responsive project-image" src="http://lorempixel.com/400/240/people/2" alt="project name">
        </a>
        <div class="desc col-md-8 col-sm-8 col-xs-12">
            <h4 class="title"><a href="http://gl.gg/" target="_blank">GL &amp; GG [mvp]</a></h4>
            <p>Simple web-based app that allows you to team up, organize and prepare for online, competetive gameplay. Implemented only to an MVP stage in order to test it with a small group of gamers, it has turned out to be impractical. Build with AngularJS and Semantic UI.</p>
            <p><a class="more-link" href="http://gl.gg/" target="_blank"><i class="fa fa-external-link"></i> Find out more</a></p>
        </div><!--//desc-->
    </div><!--//item-->
    <hr class="divider">
    <div class="item row">
        <a class="col-md-4 col-sm-4 col-xs-12" href="http://spellstack.com" target="_blank">
            <img class="img-responsive project-image" src="http://lorempixel.com/400/240/people/3" alt="project name">
        </a>
        <div class="desc col-md-8 col-sm-8 col-xs-12">
            <h4 class="title"><a href="http://spellstack.com" target="_blank">Spellstack</a></h4>
            <p>Spellstack is a web-based toolset for Magic: The Gathering players. Using Spellstack users can put together a well-balanced, powerful deck for your next casual or tournament game. Additional tools such as random hand, statistics etc. help users evaluate deck's potential and performance.</p>
            <p><a class="more-link" href="http://spellstack.com" target="_blank"><i class="fa fa-external-link"></i> Find out more</a></p>
        </div><!--//desc-->
    </div><!--//item-->
    <hr class="divider">
    <div class="item row">
        <a class="col-md-4 col-sm-4 col-xs-12" href="http://spellstack.com" target="_blank">
            <img class="img-responsive project-image" src="http://lorempixel.com/400/240/people/5" alt="project name">
        </a>
        <div class="desc col-md-8 col-sm-8 col-xs-12">
            <h4 class="title"><a href="http://spellstack.com" target="_blank">Spellstack</a></h4>
            <p>Spellstack is a web-based toolset for Magic: The Gathering players. Using Spellstack users can put together a well-balanced, powerful deck for your next casual or tournament game. Additional tools such as random hand, statistics etc. help users evaluate deck's potential and performance.</p>
            <p><a class="more-link" href="http://spellstack.com" target="_blank"><i class="fa fa-external-link"></i> Find out more</a></p>
        </div><!--//desc-->
    </div><!--//item-->
</div>
