<div class="content">
    <div class="item row">
        <a class="col-md-4 col-sm-4 col-xs-12" href="" target="_blank">
            <img class="img-responsive project-image" src="http://lorempixel.com/400/240/people/1" alt="project name">
        </a>
        <div class="desc col-md-8 col-sm-8 col-xs-12">
            <h4 class="title"><a href="#" target="_blank">DevLinks: Best Links for Developers, Everyday.</a></h4>
            <p>Running AngularJS paired up with RequireJS involves configuring few tweaks and hacks, especially if trying to preserve testability of Angular app.</p>
            <p><a class="more-link" href="#" target="_blank"><i class="fa fa-external-link"></i> Find out more</a></p>
        </div><!--//desc-->
    </div><!--//item-->
    <hr class="divider">
    <div class="item row">
        <a class="col-md-4 col-sm-4 col-xs-12" href="" target="_blank">
            <img class="img-responsive project-image" src="http://lorempixel.com/400/240/people/2" alt="project name">
        </a>
        <div class="desc col-md-8 col-sm-8 col-xs-12">
            <h4 class="title"><a href="" target="_blank">Bookmarklet to Easily Switch Between Multiple Gmail Accounts</a></h4>
            <p>Simple web-based app that allows you to team up, organize and prepare for online, competetive gameplay.</p>
            <p><a class="more-link" href="" target="_blank"><i class="fa fa-external-link"></i> Find out more</a></p>
        </div><!--//desc-->
    </div><!--//item-->
    <hr class="divider">
    <div class="item row">
        <a class="col-md-4 col-sm-4 col-xs-12" href="" target="_blank">
            <img class="img-responsive project-image" src="http://lorempixel.com/400/240/people/3" alt="project name">
        </a>
        <div class="desc col-md-8 col-sm-8 col-xs-12">
            <h4 class="title"><a href="" target="_blank">NewsBoard: Quick View for Top News from Top News Sources</a></h4>
            <p>Spellstack is a web-based toolset for Magic: The Gathering players. Using Spellstack users can put together a well-balanced, powerful deck for your next casual or tournament game.</p>
            <p><a class="more-link" href="" target="_blank"><i class="fa fa-external-link"></i> Find out more</a></p>
        </div><!--//desc-->
    </div><!--//item-->
</div>
