<div class="resume">
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <h6>
                Contact
            </h6>
        </div>
        <div class="col-md-9 col-sm-12">
            <p>
                E-Mail: inbox.pkj@gmail.com
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <h6>
                Summary
            </h6>
        </div>
        <div class="col-md-9 col-sm-12">
            <p>
                Full-stack developer specializing in Java SE & Java EE development using Spring Framework.
            </p>
            <p>
                Experienced with all stages of the development cycle for dynamic web projects.
            </p>
            <p>
                Well-versed in numerous programming languages including Java, JavaScript, and SQL.
                Strong background in customer relations.
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <h6>
                Highlights
            </h6>
        </div>
        <div class="col-md-9 col-sm-12">
            <p>
                Creative design
                Search engine optimization
                Project management
                Service-focused
                Usability expertise
            </p>
            <p>
                SharePoint
                Complex problem solver
                Strong decision maker
                Excellent communicator
                Innovative
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <h6>
                Experience
            </h6>
        </div>
        <div class="col-md-9 col-sm-12">
            <p>
                January 2008 to Current
                Freelance New Cityland, CA
                Web Developer
            </p>
            <p>
                Work with senior developer to manage large, complex design projects for corporate clients.
                Develop project concepts and maintain optimal workflow.
                Complete detailed programming and development tasks for front end public and internal websites as well as challenging back-end server code.
                col-md-3 col-sm-12laborate with designers to create clean interfaces and simple, intuitive interactions and experiences.
                Carry out quality assurance tests to discover errors and optimize usability.
            </p>
            <p>
                April 2005 to December 2007
                Redstone Web Design New Cityland, CA
                Web Developer
            </p>
            <p>
                Joined client meetings to learn about development of project scopes.
                Contacted clients to obtain more information and discuss design options.
                Oversaw scheduling of project milestones and coordinated with clients on any proposed changes or challenges to be overcome.
                Specialized in medical and legal websites.
                Actively sought tough projects to develop programming and service skills.
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <h6>
                Education
            </h6>
        </div>
        <div class="col-md-9 col-sm-12">
            <p>
                2006 Fieldstone University New Cityland, CA
                Bachelor of Science Computer Information Systems
            </p>
            <p>
                Top 5% of class
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <h6>
                Certifications
            </h6>
        </div>
        <div class="col-md-9 col-sm-12">
            <p>
                Java SE 7 Certified Programmer
                C Certified Professional Programmer (CLP)
            </p>
        </div>
    </div>
</div>
